
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* background styling */
body {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("{{ url_for('static', filename='images/background-img.jpg') }}");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* register container */
.register-container {
    width: 400px;
    background: linear-gradient(to right, #1e1c19, #cd0b0b);  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    
}

h2 {
    color: #fff;
}

/* Input Fields */
.form-control {
    border-radius: 5px;
    border: 1px solid #afa2a2;
    padding: 10px;
}

/* Register Button */
.btn-primary {
    background: linear-gradient(to right, #cd0b0b, #1e1c19);
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    opacity: 0.8;
}

/* Link Styling */
.text-white {
    color: #d7ced1 !important;
    font-weight: bold;
    text-decoration: none;
}

.text-white:hover {
    text-decoration: underline;
}


